@import url(https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css);





input{
    background-color: #F6F8FF;
    height:45px;
}


#btn{
    border: 2px solid ;
    
    background-color:#FFD365 ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
 }