*{
    margin: 0;
    padding: 0%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}
.first-part{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin-right: -340px;
}
.error{
    padding: 20px;
    color: red;
    font-size: .7em;
}
input{
    width:190px;
}
h1{
    padding: 30px;
}
iframe{
    width: 450px;
    height: 350px;
    margin:0;padding: 0%;
}
.profil-assoce{
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width : 780px){
    .data-assoce{
        height: 350px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width : 780px){
    .profil-assoce{
        flex-direction: column;
    }
    .data-assoce >div{
        margin:10px 2px;
    }
    iframe{
        width: 100%;
        height: 50vh;
        margin:20px 0 ;
    }

}