<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listofdemand</title>
</head>
<body>
    
    <section class=" text-center py-5" style="padding-left:650px;padding-top:100px" >
        <h1 style="margin-left:-25px;font-size:40px;color:#F6F8FF;">liste de demandes</h1>
    <div style="padding-top:10px;"><select name="wilaya" id="" style="height:40px;border-radius:20px;border:0px solid;width:250px;padding-left:10px;background-color:#F6F8FF"><option value="" style="height:40px;border-radius:20px;border:0px solid;width:250px;padding-left:10px;background-color:#F6F8FF">Choisir votre wilaya</option></select></div>
    <div style="padding-top:10px;"><input type="text" id="name" style="border-radius: 20px;height:40px;border: 0px solid;width:250px;padding-left:10px;background-color:#F6F8FF " name="name" placeholder="Email" ></div>
    </section>    
{% for req in obj %}
    <div class="container-fluid" style="padding-left:350px;padding-top:40px">
    <div style="width: 801px; height:203px;border-radius: 90px; border:5.5px solid #019267;padding-left:30px;">
        <div style="padding-top:30px">
        <p style="color:#019267; font-size:20px">Nom : {{req.owner.first_name}} {{req.owner.last_name}}</p>
        <p style="color:#019267; font-size:20px">Location: {{req.wilaya}} {{req.Address}}</p>
        <p style="color:#019267; font-size:20px">Numero de telephone:{{req.owner.phone_number}}</p>
        </div>
        <div style="padding-left:510px;margin-top:-175.5px;">
        <button style="color:#F6F8FF; font-size:40px;background-color:#019267;border-radius:90px;border:0px solid; width:290px;height:200px; "><a style="text-decoration: none; color:white;"href="{% url 'debah:association_org' req.id %}">allocation <br> un abatteur</a></button>
        </div>            
    </div>  
</div>
{% endfor %}


</body>
</html>