<!-- 	<a href="/association/{{element.id}}"> list </a>
 -->	<br>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listofabatt</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/listofabatt.css' %}">
</head>
<body>
    
    <section class=" text-center py-5" style="padding-left:650px;padding-top:100px" >
        <h1 style="margin-left:-25px;font-size:40px;color:#019267;">liste des abatteurs</h1>
        <div style="padding-left:240px;">
        <input type="search" id="gsearch" name="gsearch" placeholder="Rechercher" style="height:40px;color:#F6F8FF;border-radius:20px;border:0px solid;width:250px;padding-left:15px;background-color:#019267" >
        </div>   
    </section>    
{% for element in list_d %}

    <div class="container-fluid" style="padding-left:350px;padding-top:40px">
    <div style="width: 801px; height:203px;border-radius: 90px; border:5.5px solid #019267;padding-left:30px;">
        <div style="padding-top:30px">
        <p style="color:#019267; font-size:20px">Nom : {{element.nom}} {{element.prenom}}</p>
        <p style="color:#019267; font-size:20px">Location: {{element.location}}</p>
        <p style="color:#019267; font-size:20px">Offrande: {{element.taken}}/{{element.limit}}</p>
        </div>
        <div style="padding-left:510px;margin-top:-175.5px;">
        <button style="color:#F6F8FF; font-size:40px;background-color:#019267;border-radius:90px;border:0px solid; width:290px;height:200px; "><a style="text-decoration: none; color:white;"href="#">Déployer</a></button>
        </div>            
    </div>  
</div>
{% endfor %}



</body>
</html>